<!--client-form.vtl-->
<h1>Add a client</h1>
<p>Add a new client here:</p>

<form action="/clients" method="post">
  <label for="name">Client name</label>
  <input id="name" name="name" type="text">
  <label for="details">Detail</label>
  <textarea id="details" name="details" type="text"></textarea>
  <button type="submit" class="btn btn-default">Add client</button>
</form>
<!--client-form.vtl-->
